
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pragati+Narrow&display=swap');

    /* rules to specify families
	font-family: 'Dancing Script', cursive;
	font-family: 'Pragati Narrow', sans-serif;
*{ */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 /* global styles */
body{
	background-color:#f7f7f8;
}
header{
	/* position: fixed; */
}
.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
	
}
ul{
	list-style: none;
}
h3,h4,h2,h1,h5{
	font-family: 'Dancing Script', cursive;
}
a,p,span{
	font-family: 'Pragati Narrow', sans-serif;
}
.logo{
	margin-top: 64px;
	margin-left: 143px;
	width: 70px;
	height: 70px;
	vertical-align: middle;
}
.text{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: 80px;
}
.nav,ul,li, a{
	display: inline-block;
	vertical-align: middle;
	margin-top: 20px;
	margin-left: 20px;
	
}
.search{
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-top: 64px;
	vertical-align: middle;
	margin-left: 60px;
}
.bag{
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-top: 64px;
	vertical-align: middle;
	margin-left: 20px;
}
.box{
	/* position: relative; */
	width: 1200px;

}
.room{
	width: 1200px;
	height: 900px;
	margin-top: 50px;
}
.box h2{
	position: absolute;
    width: 100%;
    bottom: 50px;
    text-align: center;
    font-size: 88px;
    margin-left: -140px;
    color: #7E4141;;
}
.box p{
	position: absolute;
    top: 689px;
    margin-left: 400px;
    width: 382px;
    text-align: center;
    font-size: 30px;
    color: #966565;
}
.read-box{
	position: absolute;
    top: 830px;
    margin-left: 500px;
    width: 200px;
    height: 60px;
    background-color: #e1dfdf;
    text-align: center;
    color: #000000;
    font-size: 25px;
}
.box-1 img{
	position: absolute;
	top: 670px;
	left: 1300px;
	width: 60px;
	height: 61px
}
.design{
	display: inline-block;
}
.design h2{
	display: inline-block;
	font-size: 60px;
	margin-left: 60px;
	color: #7E4141;
}
.design, p{
	width: 300px;
    font-size: 20px;
    margin-left: 57px;
    display: inline-block;
}
.charis{
	display: inline-block;
}
.charis-1{
	display: inline-block;
	width: 400px;
	height: 400px;
	border-radius: 10%;
	margin-left: 200px;
}
.wrapper{
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
}
.wrapper-wrapper{
	margin-left: -60px;
}
.unsplash{
	/* display: inline-block; */
	width: 150px;
	height: 150px;
	border-radius: 10%;
}.wrapper, h2{
	/* display: inline-block; */
	font-size: 40px;
	margin-left: 40px;
	color: #7E4141;
}
.wrapper, p{
	width: 200px;
    font-size: 20px;
    margin-left: 57px;
	color: #0E0E0E;
    display: inline-block;
}
.wrapper-1{
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
      
}
.unsplash{
	/* display: inline-block; */
	width: 150px;
	height: 150px;
	border-radius: 10%;
}.wrapper-1, h2{
	/* display: inline-block; */
	font-size: 40px;
	margin-left: 40px;
	color: #7E4141;
}
.wrapper-1, p{
	width: 200px;
    font-size: 20px;
    margin-left: 57px;
    display: inline-block;
}
.wrapper-2{
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
}
.unsplash{
	/* display: inline-block; */
	width: 150px;
	height: 150px;
	border-radius: 10%;
}.wrapper-2, h2{
	/* display: inline-block; */
	font-size: 40px;
	margin-left: 40px;
	color: #7E4141;
}
.wrapper-2, p{
	width: 200px;
    font-size: 20px;
    margin-left: 57px;
    display: inline-block;
}
.wrapper-3{
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
}
.unsplash{
	/* display: inline-block; */
	width: 150px;
	height: 150px;
	border-radius: 10%;
}.wrapper-3, h2{
	/* display: inline-block; */
	font-size: 40px;
	margin-left: 40px;
	color: #7E4141;
}
.wrapper-3, p{
	width: 200px;
    font-size: 20px;
    margin-left: 57px;
    display: inline-block;
}
